body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0;
}

.container {
    margin: 0 auto;
    max-width: 1208px;
}


.header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 18px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.social {
    position: relative;
    padding-right: 25px;
}

.social:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 1px;
    background-color: #FFFFFFE5;
    transform: translateX(-100%);
}

.header__title {
    display: block;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}

.btn-social {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-social i {
    font-size: 24px;
    color: #FFFFFF;
    transition: 0.35s linear;
}

.btn-social i:hover {
    color: #01813F;
}

.header__auth {
    padding-left: 27px;
}

.header__auth, a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.hover--green:hover {
    color: #01813F;
    transition: 0.35s linear;
}

.auth {
    margin: 54px auto 74px;
    padding: 30px 60px 38px;
    width: 444px;
    background: #FFF;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}

.auth-toggle {
    display: flex;
    justify-content: space-between;
    height: 22px;
}

.btn-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    position: relative;
}

.btn-toggle:hover {
    color: #01813F;
    text-decoration: underline;
}

.btn-toggle.btn-active {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    text-decoration: none;
    transition: .25s ease;
}

.btn-toggle::before {
    opacity: 0;
    display: block;
    content: "";
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
}

.btn-toggle.btn-active::before {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.btn-toggle.left::before {
    left: -60px;
}

.btn-toggle.right::before {
    right: -60px;
}


.auth-social {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.btn {
    padding: 14px 0;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.35s linear;
    display: block;
    font-family: Ubuntu, sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto;
}

.btn-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.btn i {
    font-size: 24px;
    margin: 0 12px;
}

.btn i::after {
    content: "";
    display: block;
    width: 1px;
    height: 65%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;
    opacity: 0.15;
    left: 50px;
    background-color: #0A162F;
}

.btn span {
    display: block;
    margin: 0 auto;
}

.btn--red {
    background-color: #DF4A32;
}

.btn--red:hover {
    background-color: #AB1F09;
}

.btn--blue {
    background-color: #305DB8;
}

.btn--blue:hover {
    background-color: #022263;
}

.btn-green {
    background-color: #3CB878CC;
    margin-top: 5px;
}

.btn-green:hover {
    background-color: #01813F;
}

.separation {
    display: block;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    position: relative;
    margin: 30px 0 11px;
}

.separation::before, .separation::after {
    display: block;
    content: "";
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    width: 47%;
}

.separation::before {
    left: 0;
}

.separation::after {
    right: 0;
}

.form__singUp, .form__logIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.form__input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form__input:focus {
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    outline: none;
}

.form__input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.agreement {
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    display: flex;
    align-items: end;
    position: relative;
}

.agreement__link {
    color: #3CB878;
}

.agreement__link:hover {
    color: #01813F;
    text-decoration: underline;
}

.agreement input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.agreement span {
    margin-left: 8px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #F2F2F2;
}

.agreement input:checked + .checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.agreement input:checked + .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #3CB878;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.agreement__text {
    margin-right: 4px;
}

.hidden {
    all: unset;
    display: none !important;
}
